.grid-container {
    display: grid;
    grid-template-columns: 700px 500px;
    grid-template-rows: 400px;
    column-gap: 40px;
    row-gap: 80px;
}

.img-card {
    margin: auto;
    width: 600px;
    height: 400px;
    box-shadow: 5px 5px 5px 5px grey;
}

.img-card .proj-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.props {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.description {
    text-align: left;
    overflow: hidden;
}

.stacks {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

.stack {
    background-color: #40434E;
    font-weight: 70px;
    height: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
    align-self: center;
}

.git-link {
    border: solid black 1.5px;
    background-color: black;
    width: 90px;
    height: 25px;
    margin-top: 15px;
}

.link {
    text-decoration: none;
    border-radius: 3px;
    color: white;
    vertical-align: middle;
}



