.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /*flex: 1;*/
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-box label {
    display: flex;
    font-size: 20px;
}

.input-box .field {
    width: 500px;
    height: 30px;
}

.input-box .text-field {
    width: 500px;
    height: 150px;
}

.button {
    border: 1px solid black;
    width: 150px;
    height: 30px;
    cursor: pointer;
    color: black;
}