.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 50px;
    margin-bottom: 110px;
}


.intro .my_picture {
    max-width: 350px;
    align-items: stretch;
}

.intro p {
    max-width: 400px;
    font-size: 20px;
    line-height: 25px;
}

span {
    margin-right: 15px;
}